<span class="weather_list"><b>Temperature:</b>{{ temp }}</span>
<span class="weather_list"><b>Pressure:</b>{{ pressure }}</span>

<span class="weather_list"><b>Humidity:</b>{{ humidity }}</span>

<span class="weather_list"><b>Temperature Min:</b>{{ temp_min }}</span>

<span class="weather_list"><b>Temperature max:</b>{{ temp_max }}</span>

